<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/agrog1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/agrog1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgroGuide">
        <activity
            android:name=".ProfileFragmentActivities.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileFragmentActivities.EmailAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileFragmentActivities.MobileNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileFragmentActivities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileFragmentActivities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.IrrigationActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.FertilizerActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.PestActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.RecentActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.LearningCenterActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.BuyInputsActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.MarketPriceActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.AIRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.FertilizerGuideActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.IrrigationAssistantActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.DiseaseDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentActivity.CropAdvisoryActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDXKrtmMVOvzYhO9YDMYIdILpIThd8WW3w" />

        <activity
            android:name=".GoogleMap.MyLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_my_location" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false"
            android:theme="@style/ShowActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>